//#include <dt-bindings/zmk/mouse.h>

//#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/naginata.dtsi>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#include <mouse-gesture.dtsi>

#define BASE     0
#define NAGINATA 1
#define MOUSE    2
#define LOWER    3
#define RAISE    4
#define ADJUST   5
#define MOD      6
#define SCROLL   3
#define MUHEN   7
#define GESTURE  8



&zip_mouse_gesture {
    stroke-size = <160>;
    idle-timeout-ms = <80>;
    gesture-cooldown-ms = <70>;
    enable-eager-mode;
    suppress-movement;

    next {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp TAB>;
    };

    prev {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LS(TAB)>;
    };

    decide {
        pattern = <GESTURE_UP>;
        bindings = <&kp UP>;
    };

    cancel {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp DOWN>;
    };
};


/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};

#define COMBO2(name, p1, p2, out, layer) \
    name { \
        timeout-ms = <50>; \
        key-positions = <p1 p2>; \
        bindings = <out>; \
        layers = <layer>; \
    }

/ {
    behaviors {
        // スクロール用のbehaviorの設定
        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>; // スクロールのタップ時間
        };

        // Customed Hold-Tap for SandS
        // 他キーとの同時押しのみHold(Shift), 500m以上長押しすると、Tap(Space)のリピート
        SandS: SandS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <500>; // tap-unless-interruptedのため意味は無いが、設定しないとエラーはく
            quick-tap-ms = <500>;
            bindings = <&kp>, <&kp>;

            display-name = "SandS";
		};


        /*
         * 短押し：ng_ret（RET）
         * 長押し：ng_lower_hold
         */
        ng_lower: ng_lower {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;

            flavor = "hold-preferred";
            tapping-term-ms = <80>;

            /*
             * 1番目がHold、2番目がTap
             * この環境では1つの <> 内に並べる
             */
            bindings = <&ng_lower_hold &ng_ret>;
		};



	    //CAP_NGON_CTRL: cap_ng_on_ctrl {
	      //compatible = "zmk,behavior-hold-tap";
	      //#binding-cells = <0>;
	      //// お好みで調整
	      //tapping-term-ms = <200>;
	      //quick-tap-ms    = <125>;
	      //flavor = "balanced"; // "tap-preferred" / "hold-preferred" も可
	
	      //// bindings は <タップ時, ホールド時>
	      ////bindings = <&cap_ng_on &kp LCTRL>;
		//};

	    //CAP_NGOFF_CTRL: cap_ng_off_ctrl {
	      //compatible = "zmk,behavior-hold-tap";
	      //#binding-cells = <0>;
	      //// お好みで調整
	      //tapping-term-ms = <200>;
	      //quick-tap-ms    = <125>;
	      //flavor = "balanced"; // "tap-preferred" / "hold-preferred" も可
	
	      //// bindings は <タップ時, ホールド時>
	      ////bindings = <&cap_ng_off &kp LCTRL>;
        //};
    };
};

&sl { release-after-ms = <250>; }; // time needed for double click (for mkp_exit_AML)
/ {
    macros {
        // When in AML, move to default layer when key (except mouse button) pressed
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&tog MOUSE &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_layer_0";
        };

        // When LCLK pressed, exit AML (after 250ms cause by sticky layer)
        mkp_exit_AML: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl MOUSE>;

            label = "MKP_EXIT_AML";
        };

        // Support swapping into Scroll layer when AML is activated

        to_scroll_layer: to_scroll_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to SCROLL>,
                <&macro_press>,
                <&mo SCROLL>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo SCROLL>;
        };



        /* ng_lowerの短押し側 */
        ng_ret: ng_ret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <30>;

            bindings = <&macro_tap &kp RET>;
        };

        /* NAGINATA → LOWERの長押し側 */
        ng_lower_hold: ng_lower_hold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;

            bindings =
                <&macro_tap &kp LANG2>,
                <&macro_press &mo LOWER>,
                <&macro_pause_for_release>,
                <&macro_release &mo LOWER>,
                <&macro_tap &kp LANG1>;
        };


	    //cap_ng_on: cap_ng_on {
	      //compatible = "zmk,behavior-macro";
	      //#binding-cells = <0>;
	      //bindings = <&kp LANG1 &to NAGINATA>;
        //};

	    //cap_ng_off: cap_ng_off {
	      //compatible = "zmk,behavior-macro";
	      //#binding-cells = <0>;
	      //bindings = <&kp LANG2 &to BASE>;
        //};

        BL_mod: BL_mod {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&mo MOD &macro_param_1to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&mo MOD>;
        };

        ng_on: ng_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANG1 &to NAGINATA>;
            //bindings = <&macro_tap &kp CAPS &to NAGINATA>;
        };
    
        ng_off: ng_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANG2 &to BASE>;
            //bindings = <&macro_tap &kp CAPS &to BASE>;
        };
    };

	combos {
		compatible = "zmk,combos";
		combo_ng_on {
			timeout-ms = <300>;
			key-positions = <74 96>;
			bindings = <&ng_on>;
			layers = <0 1>;
		};
	
		combo_ng_off {
			timeout-ms = <300>;
			key-positions = <82 64>; //62 64
			bindings = <&ng_off>;
			layers = <0 1>;
    	};

		//COMBO2(qz_to_a, 41, 61, &kp A, BASE);
		//COMBO2(wx_to_s, 42, 62, &kp S, BASE);
		//COMBO2(ec_to_d, 43, 63, &kp D, BASE);
		//COMBO2(rv_to_f, 44, 64, &kp F, BASE);
		//COMBO2(tb_to_g, 45, 65, &kp G, BASE);
		//COMBO2(lbkt_to_LBKT, 52, 72, &kp LBKT, BASE);
		//COMBO2(yn_to_h, 53, 73, &kp H, BASE);
		//COMBO2(tb_to_j, 54, 74, &kp J, BASE);
		//COMBO2(tb_to_k, 55, 75, &kp K, BASE);
		//COMBO2(tb_to_l, 56, 76, &kp L, BASE);
		//COMBO2(tb_to_semi, 57, 77, &kp SEMI, BASE);
		//COMBO2(tb_to_sqt, 58, 78, &kp SQT, BASE);
		//COMBO2(tb_to_BSLH, 59, 79, &kp BACKSLASH, BASE);
		COMBO2(ls_tos_lsMin, 41, 61, &kp LS(MINUS), LOWER);
		COMBO2(n4_tos_lsN4, 42, 62, &kp LS(N4), LOWER);
		COMBO2(n5_tos_lsN5, 43, 63, &kp LS(N5), LOWER);
		COMBO2(n6_tos_lsN6, 44, 64, &kp LS(N6), LOWER);
		COMBO2(nlbktn_tos_nlslbktn, 45, 65, &kp LS(LBKT), LOWER);
		COMBO2(lsrbkt_to_lsrbkt, 52, 72, &kp LS(RBKT), LOWER);
		COMBO2(nret_to_ret, 53, 73, &kp RET, LOWER);
		COMBO2(n71_to_4, 54, 74, &kp N4, LOWER);
		COMBO2(n82_to_5, 55,75, &kp N5, LOWER);
		COMBO2(n93_to_6, 56,76, &kp N6, LOWER);
		COMBO2(equa_to_equa, 57,77, &kp EQUAL, LOWER);
		COMBO2(ls_to_lssqt, 58, 78, &kp LS(SQT), LOWER);
		COMBO2(bslh_to_lsBSLH, 59, 79, &kp LS(BACKSLASH), LOWER);

//LS(N0)  &kp LS(N1) &kp LS(N2) &kp LS(N3)  &kp LS(RBKT)
//&kp LS(LBKT) &kp N0  &kp N1 &kp N2 &kp N3  &kp DOT &kp LS(SLASH) &trans


    };
};

//#include <layout_shift_kp_override.dtsi>
// Layout Shift Overlay - Replaces &kp behavior with custom implementation
// This file should be included in keyboard config to override &kp behavior

#include "layout_shift.dtsi"

/ {
    behaviors {
        // Keep the original key_press behavior for ZMK core components
        original_key_press: original_key_press {
            compatible = "zmk,behavior-key-press";
            #binding-cells = <1>;
            label = "KEY_PRESS";
        };

        // Override the existing &kp behavior to use our custom implementation
        kp: key_press {
            compatible = "zmk,behavior-layout-shift-key-press";
            #binding-cells = <1>;
            label = "LAYOUT_SHIFT_KEY_PRESS";
        };
    };
};





/ {
    keymap {
        compatible = "zmk,keymap";
//BASE
        layer_0 {
            bindings =<
                &kp ESC         &kp F1 &kp F2 &kp F3 &kp F4 &kp F5  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11                                      &kp F12 &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp PSCRN &tog_ls_off &tog_ls_on &kp DEL
				&kp GRAVE       &kp N1 &kp N2 &kp N3 &kp N4 &kp N5  &kp N6 &kp KP_NUM &kp KP_SLASH &kp KP_MULTIPLY &kp KP_MINUS &kp MINUS                         &kp INT3 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL
				&kp TAB         &kp Q &kp W  &kp E  &kp R  &kp T    &kp Y &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_PLUS  &kp Y                                        &kp RBKT &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
				&BL_mod LCTRL   &kp A &kp S  &kp D  &kp F &kp G     &kp LSHFT  &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp LSHFT  &kp SPACE                                 &kp LBKT &kp H &kp J &kp K &kp L &kp SEMI  &kp SQT &kp BACKSLASH
				&kp LSHFT       &kp Z &kp X  &kp C  &kp V &kp B     &lt MUHEN BSPC &kp KP_N1 &kp KP_N2 &kp KP_N3  &kp RET &kp LBKT                                &kp RBKT &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp INT1 &kp UP
				&BL_mod LCTRL   &BL_mod LWIN &BL_mod LALT &mo MOUSE &lt MUHEN BSPC &kp SPACE &lt LOWER RET &lt RAISE RET &kp N0 &kp KP_DOT &kp SPACE &kp LCTRL               &lt RAISE RET &kp SPACE           &BL_mod LCTRL  &kp LEFT &kp DOWN &kp RIGHT
            >;
        };
//NAGINATA
        layer_1 {
            bindings =<
                &kp ESC         &kp F1 &kp F2 &kp F3 &kp F4 &kp F5  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11                                      &kp F12 &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp PSCRN &tog_ls_off &tog_ls_on &kp DEL
				&BL_mod LCTRL   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5  &kp N6 &kp KP_NUM &kp KP_SLASH &kp KP_MULTIPLY &kp KP_MINUS &kp MINUS                                     &kp INT1 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp INT3
				&ng Z           &ng Q  &ng W  &ng E  &ng R &ng T    &kp Y &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_PLUS  &kp Y                                          &kp APOS &ng Y &ng U &ng I &ng O &ng P &ng DOT &ng DOT
				&ng X           &ng A  &ng S  &ng D  &ng F &ng G    &kp LSHFT  &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp LSHFT  &kp SPACE                                         &kp LBKT &ng H &ng J &ng K &ng L &ng SEMI &ng SQT &ng SQT 
				&mt LSHFT CAPS  &ng_lower  &mo 4  &ng C  &ng V &ng C    &ng C   &kp KP_N1 &kp KP_N2 &kp KP_N3  &kp RET &kp LBKT                     &ng COMMA &ng COMMA &ng M &ng COMMA &ng SQT &ng DOT &lt RAISE RET &kp UP
				&BL_mod LCTRL   &BL_mod LWIN &BL_mod LALT &lt LOWER RET &lt MUHEN BSPC &ng V          &ng B &lt RAISE RET &kp N0 &kp KP_DOT &kp SPACE &BL_mod LCTRL   &ng N  &ng M           &BL_mod LCTRL  &kp LEFT &kp DOWN &kp RIGHT
            >;
        };
//Mouse
        layer_2 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&kp TAB &kp LWIN &kp LCTRL &kp LALT &mouse_gesture &kp LSHFT &trans &trans &trans &trans &trans &trans   &trans &trans &mouse_gesture &kp LALT &kp LCTRL &kp LWIN &trans &trans
				&trans &trans &mkp RCLK &mkp MCLK &mkp_exit_AML LCLK &msc SCRL_UP    &msc SCRL_LEFT &trans &trans &trans &trans &trans      &msc SCRL_LEFT   &msc SCRL_UP    &mkp LCLK &mkp LCLK  &mkp MCLK       &mkp RCLK &trans &trans
				&trans &trans &trans &mkp MB4 &mkp MB5 &msc SCRL_DOWN  &msc SCRL_RIGHT &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans               &trans &trans &trans &trans
            >;
        };
//LOWER
        layer_3 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &kp KP_SLASH &kp KP_MULTIPLY &kp KP_MINUS  &kp KP_PLUS &trans &trans
				&trans &kp LS(EQUAL)  &kp LS(N7) &kp LS(N8) &kp LS(N9)  &kp LS(N0) &trans &trans &trans &trans &trans &trans               &kp LS(INT3) &kp COMMA &kp N7 &kp N8 &kp N9  &kp KP_PLUS &kp LS(INT1) &kp LS(INT3)
				&kp LCTRL &kp LS(N0)  &kp LS(N1) &kp LS(N2) &kp LS(N3)  &kp LS(RBKT) &trans &trans &trans &trans &trans &trans               &kp LS(LBKT) &kp N0  &kp N1 &kp N2 &kp N3  &kp N0 &kp LS(SLASH) &trans
				&trans &none      &mo 4 &kp LS(N5) &kp LS(N6)  &kp LS(LBKT) &trans &trans &trans &trans &trans &trans               &kp LS(RBKT) &kp RET &kp RET  &kp N0 &kp DOT &kp EQUAL &kp LS(SQT) &kp LS(BACKSLASH)
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans               &trans &trans &trans &trans
            >;
        };
//RAISE
        layer_4 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &kp LC(F1)   &kp LC(F2)   &kp LC(F3)   &kp LC(F4)     &kp LC(F5) &trans &trans &trans &trans &trans &trans               &trans &kp LC(F6)       &kp LC(F7)       &kp LC(F8)       &kp LC(F9)        &kp LC(F10)   &kp LC(F11)     &trans
				&trans &kp LC(HOME) &kp PG_UP    &kp LC(UP)   &kp PG_DN      &kp LC(END) &trans &trans &trans &trans &trans &trans               &trans &kp LC(LS(HOME)) &kp LC(PG_UP)    &kp LC(LS(UP))   &kp LC(PG_DN)     &kp LC(SPACE) &kp LC(LS(DEL))  &trans 
				&trans &kp HOME     &kp LC(LEFT) &kp LC(DOWN) &kp LC(RIGHT)  &kp END &kp KP_NUM  &trans &trans &trans &trans &trans              &kp LC(F8)        &kp SPACE        &kp LC(LS(LEFT)) &kp LC(LS(DOWN)) &kp LC(LS(RIGHT)) &kp LS(SPACE) &kp LC(END)    &trans
				&trans &kp LC(F8) &trans &kp LC(LS(END)) &kp LC(LS(PG_UP)) &kp LC(LS(PG_DN)) &kp LC(F12) &trans &trans &trans &trans &trans             &kp LG(LS(PSCRN)) &kp F6           &kp F7           &kp F8           &kp F9            &kp F10       &kp F11   &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans               &trans &trans &trans &trans
            >;
        };
//ADJUST
        layer_5 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &bt BT_CLR_ALL &bt BT_CLR &out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1              &bt BT_CLR_ALL &bt BT_CLR &out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &kp LS(UP) &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &kp LS(UP) &trans &trans &trans &trans
				&BL_mod LCTRL &kp HOME &kp LS(LEFT) &kp LS(DOWN) &kp LS(RIGHT) &trans &trans &trans &trans &trans &trans &trans               &trans &trans &kp LS(LEFT) &kp LS(DOWN) &kp LS(RIGHT) &kp END &trans &trans
				&kp LSHFT &kp HOME &kp PG_UP &kp PG_DN &kp END &trans &trans &trans &trans &trans &trans &trans               &trans &trans &kp HOME &kp PG_UP &kp PG_DN &kp END &trans &trans
				&BL_mod LCTRL &BL_mod LWIN &BL_mod LALT &trans &trans &trans &trans &trans &trans &trans &trans &BL_mod LCTRL               &trans &trans               &BL_mod LCTRL &trans &trans &trans
            >;
        };
//MOD
        layer_6 {
            bindings =<
                &kp ESC   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11                                      &kp F12 &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp PSCRN &tog_ls_off &tog_ls_on &kp DEL
				&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5  &kp N6 &kp KP_NUM &kp KP_SLASH &kp KP_MULTIPLY &kp KP_MINUS &kp MINUS                         &kp INT3 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL
				&kp TAB   &kp Q &kp W  &kp E  &kp R  &kp T    &kp Y &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_PLUS  &kp Y                                        &kp RBKT &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
				&trans    &kp A  &kp S  &kp D  &kp F &kp G     &kp LSHFT  &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp LSHFT  &kp SPACE                                &kp LBKT &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp BACKSLASH
				&trans    &kp Z  &kp X  &kp C  &kp V &kp B     &lt MUHEN BSPC &kp KP_N1 &kp KP_N2 &kp KP_N3  &kp RET &kp LBKT                    &kp RBKT &kp N &kp M &kp COMMA &kp DOT &kp FSLH  &kp INT1 &kp UP
				&trans    &trans &trans &mo MOUSE &lt MUHEN BSPC &SandS LSHFT SPACE &lt LOWER RET &lt RAISE RET &kp N0 &kp KP_DOT &kp SPACE &trans               &lt RAISE RET &SandS LSHFT SPACE           &trans  &kp LEFT &kp DOWN &kp RIGHT
            >;
        };
//MUHEN
        layer_7 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &kp LC(EXCL) &kp LC(AT) &kp LC(HASH)    &kp LC(DLLR)       &kp LC(PRCNT) &trans &trans &trans &trans &trans &trans           &trans &kp LC(CARET)  &kp LC(AMPS)   &kp LC(ASTRK) &kp LC(LPAR) &kp LC(RPAR) &trans &trans
				&trans &kp HOME       &kp F17        &kp UP        &kp LS(RIGHT)   &kp END  &trans &trans &trans &trans &trans &trans               &trans &kp LALT       &kp LC(U)        &kp TAB        &kp F7         &kp LC(P)       &kp PG_DN &trans
				&trans &kp LC(BSPC)   &kp LEFT       &kp DOWN      &kp RIGHT       &kp DEL &kp KP_NUM &trans &trans &trans &trans &trans            &kp LC(F8) &kp BSPC       &kp LG(SLASH)    &kp LC(Z)      &kp LA(TAB)    &kp LC(LA(TAB))   &kp LC(F) &trans
				&trans &kp LC(D)      &kp LC(X)      &kp  LC(C)    &kp LC(V)       &kp F16 &trans &trans &trans &trans &trans &trans               &kp RBKT  &kp LC(LA(TAB)) &kp LC(LS(TAB))  &kp LC(Y)      &kp LC(TAB)    &kp LG(TAB)     &kp LG(D) &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans               &kp LC(W) &kp LC(W) &trans &trans
            >;
        };
//GESTURE not use now
        layer_8 {
            bindings =<
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &kp LWIN &kp LCTRL &kp LALT &mouse_gesture &trans &trans &trans &trans &trans &trans &trans               &trans &trans &mouse_gesture &kp LALT &kp LCTRL &kp LWIN &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans               &trans &trans               &trans &trans &trans &trans
            >;
        };
    };
};
